<div class="container-fluid">
    <form class="centered-form">
        <h1>Login</h1>

        <div ng-include="'./views/components/message-flash.view.client.html'"></div>

        <label for="username">Username</label>
        <input type="text"
               ng-model="username"
               id="username"
               class="form-control"
               placeholder="blob123"
               required
        />

        <label for="password">Password</label>
        <input type="password"
               ng-model="password"
               id="password"
               class="form-control"
               required
               placeholder="sliq878"/>

        <a class="btn btn-primary btn-block"
           ng-click="model.login(username, password)">Login</a>

        <a href="/auth/facebook"
           class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>Login with Facebook
        </a>

        <a class="btn btn-success btn-block"
           href="#!/register">Register</a>
    </form>
</div>

