<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser()" class="navbar-link">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger">
        {{ model.error }}
    </div>
    <div ng-show="model.message" class="alert alert-info">
        {{ model.message }}
    </div>

    <form class="centered-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   ng-model="model.user.username"
                   class="form-control"
                   id="username"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   class="form-control"
                   ng-model="model.user.email"
                   id="email"
                   placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   ng-model="model.user.firstName"
                   class="form-control"
                   id="first-name"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   ng-model="model.user.lastName"
                   class="form-control"
                   id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>

    <div class="centered-form">
        <a class="btn btn-success btn-block"
           ng-click="model.updateUser()">Update Profile</a>
        <a class="btn btn-primary btn-block"
           href="#!/user/{{model.userId}}/website">Websites</a>
        <a class="btn btn-danger  btn-block"
           href="#!/login">Logout</a>
    </div>
</div>

<div ng-include="'./views/components/profile-footer-dark.view.client.html'"></div>

