<div class="container centered-form">
    <h1>Register</h1>

    <div ng-include="'./views/components/message-flash.view.client.html'"></div>

    <label for="username">Username</label>
    <input type="text"
           ng-model="username"
           id="username"
           class="form-control"
           placeholder="username"/>
    <label for="password">Password</label>
    <input type="password"
           ng-model="password"
           id="password"
           class="form-control"
           placeholder="asdk333"/>
    <label for="veryfy-password">Veryfy password</label>
    <input type="password"
           ng-model="veryfyPassword"
           id="veryfy-password"
           class="form-control"
           placeholder="asdk333"/>
    <a class="btn btn-primary btn-block"
       ng-click="model.registerUser(username, password, veryfyPassword)">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#!/">Cancel</a>
</div>

