<div class="container">
    <div class="row">
        <h1>
            Project status: assignment 2, static web pages and css
        </h1>
    </div>

    <div class="row">
        <p>
            Please choose from the following web pages:
        </p>
    </div>

    <div class="row">
        <ul>
            <li> <a href="#!/pages">Page List</a> </li>
            <li> <a href="#!/users">User List</a> </li>
            <li> <a href="#!/widgets">Widget List</a> </li>
        </ul>
    </div>
</div>