<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../website/website-list.view.client.html">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    Name
                </div>
                <div class="col-lg-3 visible-lg">
                    Created
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    Accessed
                </div>
                <div class="col-xs-1">

                </div>
            </div>
        </li>


        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../widget/widget-list.view.client.html">
                        Cras justo odio
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    1/1/2017
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div class="col-xs-1">
                    <a href="../website/website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../widget/widget-list.view.client.html">
                        Blog
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    1/1/2017
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div class="col-xs-1">
                    <a href="../website/website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../widget/widget-list.view.client.html">
                        New Meta
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    1/1/2017
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div class="col-xs-1">
                    <a href="../website/website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="../widget/widget-list.view.client.html">
                        Language master
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    11/1/2018
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    2/2/2017
                </div>
                <div class="col-xs-1">
                    <a href="../website/website-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-light navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/templates/profile.view.client.html">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            </a>
        </p>
    </div>
</nav>
