<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand" >
                Choose Widget
            </a>
            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="widgetType in model.widgetTypes" class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a ng-click="model.updateWidget(widgetType)">
                            {{ widgetType }}
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-include="'./views/components/profile-footer.view.client.html'"></div>
