<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand">
                Widget List
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<sortable pid="model.pageId" class="container-fluid">
    <div ng-repeat="widget in model.widgets">
        <div id="{{widget._id}}" class="widget" ng-switch="widget.type">
            <div ng-switch-when="HEADING">
                <div ng-include="'./views/widget/templates/widget-heading.view.client.html'"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <div ng-include="'./views/widget/templates/widget-image.view.client.html'"></div>
            </div>
            <div ng-switch-when="YOUTUBE">
                <div ng-include="'./views/widget/templates/widget-youtube.view.client.html'"></div>
            </div>
        </div>
    </div>
</sortable>

<div ng-include="'./views/components/profile-footer.view.client.html'"></div>
