<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="widget-list.view.client.html">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           value="top heading"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           value="US Senate Reaches Compromise"
           id="text"/>

    <label for="URL">URL</label>
    <input class="form-control"
           id="URL"
           placeholder="www.google.com" />

    <label for="width">URL</label>
    <input class="form-control"
           id="width"
           placeholder="32px" />

    <a href="widget-list.view.client.html" class="btn btn-block btn-danger">Delete</a>
</div>

<nav class="navbar navbar-light navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            </a>
        </p>
    </div>
</nav>
