<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../templates/widget-list.view.client.html">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand">
                Image Editor
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <!--<label for="name">Name</label>-->
    <!--<input class="form-control"-->
           <!--ng-model="model.widget.name"-->
           <!--placeholder="facebook"-->
           <!--value="top heading"-->
           <!--id="name"/>-->

    <!--<label for="text">Text</label>-->
    <!--<input class="form-control"-->
           <!--ng-model="model.widget.text"-->
           <!--placeholder="facebook"-->
           <!--value="US Senate Reaches Compromise"-->
           <!--id="text"/>-->

    <!--<label for="file">Upload</label>-->
    <!--<input id="file" multiple type="file" class="form-control"/>-->

    <!--<a href=""-->
       <!--class="btn btn-block btn-success">Upload</a>-->

    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>

</div>

<div ng-include="'./views/components/profile-footer.view.client.html'"></div>
