<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="navbar-brand">
                HTML Editor
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label for="name">name</label>
    <input class="form-control"
           ng-model="model.widget.name"
           placeholder="An html widget"
           id="name"/>

    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>
    <a ng-click="model.deleteWidget()" class="btn btn-block btn-danger">Delete</a>
</div>

<div ng-include="'./views/components/profile-footer.view.client.html'"></div>
