<h1>Project overview</h1>

<p>This is a course repo for CS5610 Web development, session Summer1 2017. </p>

<p>The repo will include all the submission information as well as part of</p>

<p>my codebase. </p>

<h1>About author: Linghan Xing</h1>

<p>I am a computer science master candidate in Northeastern University. </p>

<p>You can find me <a href="http://www.linghanxing.com">here</a>. </p>

<h1>Course info</h1>

<ol>
  <li>Web development project: <a href="https://linghan-xing-web-2017summer1.herokuapp.com">URL</a></li>
  <li>Link to my project <a href="https://ancient-everglades-78085.herokuapp.com/users">URL</a>.</li>
  <li>Link to my assignments (TBD).</li>
</ol>

